.container {
  width: 25%;
  margin: auto;
}
input {
  background: black;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  color: white;
  padding: 20px 10px;
}
input:focus {
  outline: none;
}
button {
  border-radius: 0 !important;
  padding: 10px 0px !important;
}
/* login page */
.login_page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.google_btn {
  border-radius: 0 !important;
  border: #fff !important;
  background: #fff !important;
  color: #000000;
}
.google_btn:hover {
  color: #000000;
}
.request_btn {
  margin: 100px 0px 25px 0px;
}
.btn-danger {
  color: #fff;
  background-color: #FF0000;
  border-color: #FF0000;
  font-weight: bold;
}